.footer__link {
  margin-right: 18px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .footer__link {
    margin-bottom: 32px;
  }

  .footer__link:last-of-type {
    margin-bottom: 0;
  }
}

