.content__intro {
  margin: 0 180px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .content__intro {
    margin: 0 30px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__intro {
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 320px) {
  .content__intro {
    margin: 0 16px 64px;
  }
}
