.content__lead {
  margin: 0 148px 92px;
}

@media screen and (max-width: 1024px) {
  .content__lead {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__lead {
    margin-right: 0;
    margin-bottom: 88px;
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .content__lead {
    margin-right: 2px;
    margin-bottom: 64px;
    margin-left: 2px;
  }
}
